/* SearchBox.css */
.search {
    display: flex;
    flex-direction: row;
    margin-left: 70%;
    height: 100%;
    width: fit-content;
    gap: -2px;
    padding: 2px;
    background-color: aliceblue;
    border-radius: 10px;
    
  }
  
  .form {
    width: 100%; /* Occupy the full width of the container */
    max-width: 300px; /* Limit the width to 300px, so it doesn't get too wide on large screens */
    border-color: rgb(27, 209, 209);
    padding: 5px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  
  .icon {
    font-size: large;
    background-color: rgba(0, 255, 255, 0.829);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px;
    border-color:rgb(27, 209, 209) ;
  }

  .pic{
      height: 28px;
      width: 28px;
      display: none;
  }
  
  /* Media queries for responsiveness */
  
  /* Medium screens (>= 768px) */
  @media screen and (max-width: 767px) {
    .search {
       
    }
}

/* Small screens (< 576px) */
@media screen and (max-width: 575px) {
    .search {
      width: 50%;
      margin-top: 10px;
      margin-left: 120px;
      margin-bottom: 10px;
       
    }
}
 
