/* SearchBox.css */
.search {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    margin-left: 70%;
    height: 100%;
    
  }
  
  .form {
    width: 100%; /* Occupy the full width of the container */
    max-width: 300px; /* Limit the width to 300px, so it doesn't get too wide on large screens */
    padding: 5px;
    border-radius: 20px;
  }
  
  .icon {
    font-size: large;
    padding: 10px;
  }

  .pic{
      height: 28px;
      width: 28px;
      display: none;
  }
  
  /* Media queries for responsiveness */
  
  /* For medium-sized screens (tablets) */
  @media (max-width: 768px) {
    .form {
      max-width: 250px;
      padding: 0; 
      margin-right: 0;
      /* Reduce the width on medium screens */
    }
  }
  
  /* For small-sized screens (phones) */
  @media (max-width: 480px) {
    .form {
      max-width: 200px;
      padding: 0px; 
      margin: 0;/* Further reduce the width on small screens */
    }
  }
